/* style.css
 * This file provides css styles.
 */


#headerImg {
 opacity:1;
}
:root {
 --lightgrey: #707070;
 --lightyellow: #FCFFA2;
 --gridColor: #D7CACA;
 --white: white;
}

#formPosition{
  padding-bottom: 30px;
}

#mainContainer{
  margin-top: 30px;
}
/*
#formPosition{
  position:absolute;
  left: 50%;
  top: 50%;
}
#formBox{
  position:relative;
} */
